.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.main-container {
  background: none;
  height: 450px;
  margin: auto;
  position: relative;
  width: 50%;
  padding: 10px;
}
.line-1{
    position: relative; 
    top: 50%;   
    width: 24em; 
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
} 

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
/* The typing effect */
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
/* The typewriter cursor effect */
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.centered { 
    color: #FA9A85;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    top: 80%; 
    left: -10%;
    background-image: none;
} 

span{
  color:#FA9A85;
}

